<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
    <title>Student management system</title>
</head>

<body>

    <div id="container"></div>
    <script type="text/javascript" src="./jquery-3.2.1.js"></script>
    <script type="text/javascript" src="./underscore.js"></script>
    <script type="text/javascript" src="./backbone.js"></script>

        <script type="text/html" id="songTemplate">          
        <%= title %>
        <button>Listen</button>

        <% if (plays > 1000) { %> 

        <span class="popular">Popular</span>
        <% } %>

        </script>


    <script type="text/javascript" src='test.js'></script>
</body>

</html>